@import '../../../frontend-common/static/frontend-common/sass/page-with-3-section.scss';

#content-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#content-section #content-topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#content-section #content-topbar #content-search {
    width: 10px;
    flex-grow: 1;
    background-color: white;
    margin: 1.5em;
    border-radius: 1em;
    border-width: 0;
    padding: 0 1.1em;
}

#content-section #content-topbar #notofications-button {
    margin: 0 1.5em 0 0;
    width: 2.7em;
    padding: 0;
    border-radius: 50%;
}

#content-main {
    flex-grow: 1;
    margin: 1.7em;
    display: flex;
    flex-direction: row;
}

#content-main #profile-summary {
    width: 33%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

#content-main #profile-summary #profile-summary-head-spacer {
    padding-top: 50%;
    width: 100%;
    height: 0;
    background-color: #f5f5fb;
}

#content-main #profile-summary #profile-summary-head-spacer-2 {
    padding-top: 60%;
    width: 100%;
    height: 0;
    background-color: white;
}

#content-main #profile-summary #profile-summary-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-main #profile-summary #profile-summary-content #profile-name {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    background-color: white;
    width: 100%;
}

#content-main #profile-summary #profile-summary-content #profile-description {
    color: #a9abb9;
    text-align: center;
    background-color: white;
    width: 100%;
    padding-bottom: 1em;
}

#content-main #profile-summary #profile-summary-content #profile-short-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #DFCFFA;
    width: 100%;
}

#content-main #profile-summary #profile-summary-content #profile-short-stats .stat-entry {
    text-align: center;
}

#content-main #profile-summary #profile-summary-content #profile-short-stats .stat-entry .number {
    font-size: 1.7em;
    font-weight: bold;
}

#content-main #profile-summary #profile-summary-content #profile-short-stats .stat-entry .text {
    margin-bottom: 0.3em;
}

#content-main #profile-summary #profile-summary-content #profile-status {
    text-align: justify;
    background-color: white;
    padding: 1em 1.2em;
}

#content-main #profile-summary #profile-summary-content #profile-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-radius: 0 0 1em 1em;
    background-color: white;
    padding-bottom: 1em;
}

#content-main #profile-summary #profile-avatar-wrapper {
    position: absolute;
    left: -5%;
    top: 2.5%;
    padding-top: 100%;
    width: 110%;
    height: 0;
    background-color: #f5f5fb;
    border-radius: 50%;
}

#content-main #profile-summary #profile-avatar {
    position: absolute;
    left: 5%;
    top: 2.5%;
    width: 90%;
    border-radius: 50%;
}

#content-main #profile-non-summary {
    margin-left: 1.2em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#content-main #profile-non-summary h4 {
    margin-left: 1em;
}

#content-main #profile-non-summary #profile-general {
    margin-bottom: 1.2em;
}

#content-main #profile-non-summary #profile-general .col-content {
    margin: 0.5em;
}

#content-main #profile-non-summary #profile-general input[type=text] {
    background-color: white;
    border: 1px solid #d0d6da;
    border-radius: 0.5em;
    height: 2em;
    padding: 0 0.5em;
}

#content-main #profile-non-summary #profile-general .longer-one {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#content-main #profile-non-summary #profile-general .longer-one .text {
    font-size: 0.9em;
    color: #a9abb9;
}

#content-main #profile-non-summary #profile-statistics {
    background-color: white;
    border-radius: 1em;
    /* flex-grow: 1; */
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    margin: 0 3.6em;
}

#content-main #profile-non-summary #profile-statistics img {
    margin: 1.7em;
    height: 70%;
}

#content-main #profile-non-summary #profile-statistics p {
    margin: 0 1.7em 0 0;
}

.thing-with-image-and-2-texts {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thing-with-image-and-2-texts img {
    margin: 0.6em 1.2em 0.6em 1.7em;
    border-radius: 0.4em;
    height: 3em;
}

.thing-with-image-and-2-texts div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.thing-with-image-and-2-texts div p {
    margin: 0;
}

.thing-with-image-and-2-texts div .upper {
    font-weight: bold;
}

.thing-with-image-and-2-texts div .lower {
    color: #a9abb9;
}

.thing-with-image-and-2-texts .progress {
    flex-basis: 8em;
    flex-grow: 0;
    margin: 0em 1.7em 0em 1.2em;
}

.padded-content {
    margin: 0em 1.7em 0em 1.7em;
}

.small-header {
    margin: 4em 0em 1.2em 0em;
    font-size: 1.25em;
    font-weight: bold;
}

.advertising-block {
    width: 100%;
    padding: 1.2em 1.7em 1.2em 1.7em;
    border-radius: 0.4em;
}
