@import '../../materialize/sass/materialize.scss';

html {
    height: 100%;
}

body {
    // Secause `height` is not the same as `min-height`,
    // children using `100%` for height won't be
    // 100vh high.
    //
    // Changin this to height leads to body
    // being small if the contents are > 100vh.
    // I think, it's bad.
    min-height: 100%;
}

.centered-text {
    text-align: center;
}

.page-height-filler {
    // Allows it to be even bigger
    // depending on the contents.
    //
    // 100% won't work.
    min-height: 100vh;
}

.exact-page-height-filler {
    height: 100vh;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.hidden-overflow {
    overflow: hidden;
}

.scrollbarless {
    // I found this threasure here:
    // https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp

    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar { // hide scrollbar for Chrome, Safari and Opera
        display: none;
    }
}
