@import 'theme.scss';

#menu-section {
    background-color: white;
    flex-basis: 20%;
    max-width: 18em;
    min-width: 17em;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    #logo {
        // background-color: $secondary-color; // debug

        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            height: 4.2em;
            margin: 1.5em 0.3em 1.5em 1.5em;
        }

        p {
            @extend .gradient-text;

            font-weight: bold;
            font-size: 1.8em;
            transform: translateY(-30%);
        }
    }

    #join-button-space {
        padding: 1em;

        display: flex;
        justify-content: center;
    }

    #menu {
        .menu-entry {
            font-size: 1.001em;
            padding: 1.1em 1.1em 1.1em 3em;
            width: 100%;

            i {
                color: $secondary-color;
            }

            &.selected {
                font-weight: bold;
                position: relative;
                color: black;

                &::after {
                    content: '';
                    background-color: $secondary-color;

                    position: absolute;
                    top: 50%;
                    right: 0;

                    height: 60%;
                    width: 5px;

                    transform: translateY(-50%);
                }
            }

            &.highlighted {
                font-weight: bold;
                position: relative;
                color: black;
            }

            &:not(.selected):not(.highlighted) {
                color: #a9abb9;

                i {
                    color: #a9abb9;
                }
            }
        }

        .submenu {
            .menu-entry {
                padding-left: 5em;
            }
        }
    }
}

#content-section {
    background-color: $global-background-color;
    flex-grow: 1;

    #content-topbar {
        display: flex;
        flex-direction: row;
        align-items: center;

        #content-search {
            width: 10px;
            flex-grow: 1;
            background-color: white;
            margin: 1.5em;
            border-radius: 1em;
            border-width: 0;
            padding: 0 1.1em;
        }

        #notofications-button {
            margin: 0 1.5em 0 0;
            width: 2.7em;
            padding: 0;
            border-radius: 50%;
        }
    }
}

#profile-section {
    background-color: white;
    flex-basis: 26%;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .simple-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 1.7em 4.5em 0 4.5em;

        input[type="text"] {
            background-color: white;
            border: 1px solid #d0d6da;
            border-radius: 0.5em;
            height: 2em;
            padding: 0 0.5em;

            width: 100%;
            box-sizing: border-box;
        }

        label {
            width: 100%;
            text-align: left;
        }

        .title {
            @extend .gradient-text;

            font-weight: bold;
            font-size: 1.8em;
            transform: translateY(-30%);
        }

        button {
            margin: 1em 0;
        }
    }

    #logout-button {
        border-radius: 12px;
        margin-top: 2em;
    }

    #title-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #dee2f9;

        img {
            margin: 1.5em 1.2em 1.5em 1.7em;
            border-radius: 1em;
            height: 4em;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;

            p {
                margin: 0;
            }

            .name {
                font-size: 1.1em;
                font-weight: bold;
            }

            .status {
                color: #a9abb9;
            }
        }

        button {
            margin: 1.5em 1.2em 1.5em 1.2em;
            width: 2.7em; // magic value to make the button squeare
            padding: 0;

            border-radius: 50%; // and then - round
        }
    }

    #non-title-section {
        flex-grow: 1;

        #common-options {
            margin-top: 1.4em;
        }
    }
}
