{% extends 'frontend-common/page-with-2-sections.html' %}

{% load static %}

{% block local-style %}
    <link rel="stylesheet" href="{% static 'css/videos_home.css' %}">
{% endblock %}

{% block local-script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            M.updateTextFields()
        });
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}

    {##}
    {#                    <div id="main-content" class="row">#}
    {#                        <div class="col m6 s12 l4">#}
    {#                            <a class="col-content waves-effect waves-dark unassigned" style="background-image: url('{% static 'images/video_1.svg' %}')">#}
    {#                                #}
    {#                            </a>#}
    {#                        </div>#}
    {#                        <div class="col m6 s12 l4">#}
    {#                            <a class="col-content waves-effect waves-dark unassigned" style="background-image: url('{% static 'images/video_2.svg' %}')">#}
    {#                                #}
    {#                            </a>#}
    {#                        </div>#}
    {#                        <div class="col m6 s12 l4">#}
    {#                            <a class="col-content waves-effect waves-dark unassigned" style="background-image: url('{% static 'images/video_3.svg' %}')">#}
    {#                                #}
    {#                            </a>#}
    {#                        </div>#}
    {#                        <div class="col m6 s12 l4">#}
    {#                            <a class="col-content waves-effect waves-dark unassigned" style="background-image: url('{% static 'images/video_4.svg' %}')">#}
    {#                                #}
    {#                            </a>#}
    {#                        </div>#}
    {#                        <div class="col m6 s12 l4">#}
    {#                            <a class="col-content waves-effect waves-dark unassigned" style="background-image: url('{% static 'images/video_5.svg' %}')">#}
    {#                                #}
    {#                            </a>#}
    {#                        </div>#}
    <div class="container">
        {% for recording in recordings %}
            <div class="col m6 s12 l4">
                <a class="col-content waves-effect waves-dark" href="{{ recording.slug }}">
                    <h4>{{ recording.header }}</h4>
                </a>
            </div>
            {{ recording.text }}
            <div style="position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden;">
                <iframe width="425" height="344" src="{{ recording.video_ref }}" frameborder="0"
                        allowfullscreen
                        style="position:absolute; top:0; left:0; width:100%; height:100%;">
                </iframe>
            </div>
            <div class="flow-text">
                {% if recording.ifExist %}
                    Вы уже загружали видео к этому тесту.<br>
                {% else %}
                    Видео еще не загружено.<br>
                {% endif %}
                Награда за выполнение: {{ recording.exp }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
