{% extends 'frontend-common/page-with-2-sections.html' %}

{% load static %}

{% block local-style %}
    <link rel="stylesheet" href="{% static 'css/task_page.css' %}">
{% endblock %}

{% block local-script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            M.updateTextFields()
        });
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="container" style="padding: 0 2em; width: 100%;">

        <script src="https://cdn.WebRTC-Experiment.com/MediaStreamRecorder.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <button value="Play" onclick="play()">PLAY</button>
    <script>
        function play() {
            speechSynthesis.speak(
                new SpeechSynthesisUtterance("{{ commands }}")
            );
        }
    </script>
    <section class="experiment">

        <br>
        <h3>
            Нажмите кнопку "запись" и скажите команду
        </h3>
        <button id="start-recording">Start</button>
        <button id="stop-recording" disabled>Stop</button>

        <button id="pause-recording" disabled>Pause</button>
        <button id="resume-recording" disabled>Resume</button>

    </section>

    <section class="experiment">
        <div id="audios-container"></div>
    </section>

    {% include "chat_script.html" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <div class="article">
            <h4>Текущие</h4>
            <p>Здесь расположены Ваши текущие задания!</p>
        </div>

        <div class="row">
            {% for task in user_tasks %}
                <div class="col m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ task.avatar.url }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{ task.header }}<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ task.header }}<i class="material-icons right">close</i></span>
                            <p>{{ task.text }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>



        {% comment %} <div class="article">
            <h4>Принять участие</h4>
        </div>

        <div class="row">
            {% for task in tasks %}
                <div class="col m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ task.avatar.url }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{ task.header }}<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ task.header }}<i class="material-icons right">close</i></span>
                            <p>{{ task.text }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> {% endcomment %}
    </div>
{% endblock %}
