{% extends 'frontend-common/page-with-2-sections.html' %}

{% load static %}

{% block local-style %}
    <link rel="stylesheet" href="{% static 'css/task_page.css' %}">
{% endblock %}

{% block local-script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            M.updateTextFields()
        });
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="container" style="padding: 0 2em; width: 100%;">

        <script src="https://cdn.WebRTC-Experiment.com/MediaStreamRecorder.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    
    <script>
        function play() {
            speechSynthesis.speak(
                new SpeechSynthesisUtterance("{{ commands }}")
            );
        }
    </script>

    <br>
    <div class="padded-content" >
        <h4 style="margin: 0em 0em 1em 0em !important;" >Голосовой помощник</h4>
    </div>
    <p>
        Чтобы узнать доступные голосовые команды нажмите на кнопку "PLAY".
    </p>
    <button value="Play" onclick="play()" class="btn waves-effect waves-light">PLAY</button>

    <section class="experiment" style="padding: 0em 2em 2em 2em;">
        <p style="padding: 0em;">
            Нажмите кнопку "start" и скажите команду, затем нажмите кнопку "stop".
        </p>
        <button id="start-recording" class="btn waves-effect waves-light">Start</button>
        <button id="stop-recording" disabled class="btn waves-effect waves-light">Stop</button>

        <button id="pause-recording" disabled class="btn waves-effect waves-light">Pause</button>
        <button id="resume-recording" disabled class="btn waves-effect waves-light">Resume</button>
    </section>

    <section class="experiment">
        <div id="audios-container"></div>
    </section>

    {% include "chat_script.html" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- <div class="article">
            <h4>Текущие</h4>
            <p>Здесь расположены Ваши текущие задания!</p>
        </div> -->

        <div class="row">
            {% for task in user_tasks %}
                <div class="col m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ task.avatar.url }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{ task.header }}<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ task.header }}<i class="material-icons right">close</i></span>
                            <p>{{ task.text }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>



        {% comment %} <div class="article">
            <h4>Принять участие</h4>
        </div>

        <div class="row">
            {% for task in tasks %}
                <div class="col m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ task.avatar.url }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{ task.header }}<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ task.header }}<i class="material-icons right">close</i></span>
                            <p>{{ task.text }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> {% endcomment %}
    </div>
{% endblock %}
