{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="one-more-city">

    <title>Заходи, не стесняйся</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'css/materialize/materialize.css' %}" /> -->
    
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/only-size.css' %}  ?ver=2" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main-for-all-page.css' %}  ?ver=2" /> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
    <script src="{% static 'js/materialize.min.js' %}"></script>

    {% load i18n %}
    {% load account socialaccount %}
  </head>

<body>
  <!--  -->

  
  <!--  -->
  <!-- или реально присралось или скучно -->

  </body>
</html>
