{% load static %}

{% if user.is_authenticated %}
    <div id="profile-section">
        <div id="title-section">
            <img src={{ profile.avatar.url }} alt="">
            <div>
                <p class="name">{{ profile.name }} {{ profile.vorname }}</p>
                <p class="status">{{ user.get_username }}</p>
            </div>
            <!-- <button class="btn-flat waves-effect waves-dark">
                <i class="material-icons">cloud</i>
            </button> -->
        </div>

        <div id="non-title-section" class="scrollbarless">
            <section id="common-options">
                <div class="thing-with-image-and-2-texts waves-effect waves-dark unassigned">
                    <img src="{% static 'images/message.svg' %}" alt="">
                    <div>
                        <p class="upper">Сообщения</p>
                        <p class="lower">+10</p>
                    </div>
                </div>
                <div class="thing-with-image-and-2-texts waves-effect waves-dark unassigned">
                    <img src="{% static 'images/friends.svg' %}" alt="">
                    <div>
                        <p class="upper">Друзья</p>
                        <p class="lower">+1</p>
                    </div>
                </div>
            </section>

            <section id="progress-options">
                <!-- Setting the margin for the header directly will
                    depend on the font-size for some reason. That's
                    why we introduce additional abstraction for
                    our left & right margins. -->
                <div class="padded-content">
                    <div class="small-header">Прогресс</div>
                </div>

                <div class="thing-with-image-and-2-texts waves-effect waves-dark unassigned">
                    <img src="{% static 'images/video1.svg' %}" alt="">
                    <div>
                        <p class="upper">Видео</p>
                        <p class="lower">Профессионал</p>
                    </div>
                    <div class="progress purple lighten-5">
                        <div class="determinate purple lighten-2" style="width: 80%"></div>
                    </div>
                </div>
                <div class="thing-with-image-and-2-texts waves-effect waves-dark unassigned">
                    <img src="{% static 'images/document1.svg' %}" alt="">
                    <div>
                        <p class="upper">Опросы</p>
                        <p class="lower">Любитель</p>
                    </div>
                    <div class="progress cyan lighten-5">
                        <div class="determinate cyan lighten-2" style="width: 30%"></div>
                    </div>
                </div>
                <div class="thing-with-image-and-2-texts waves-effect waves-dark unassigned">
                    <img src="{% static 'images/book1.svg' %}" alt="">
                    <div>
                        <p class="upper">Дневник</p>
                        <p class="lower">Профессионал</p>
                    </div>
                    <div class="progress yellow lighten-5">
                        <div class="determinate yellow lighten-2" style="width: 65%"></div>
                    </div>
                </div>
                <div class="thing-with-image-and-2-texts waves-effect waves-dark unassigned">
                    <img src="{% static 'images/joystick1.svg' %}" alt="">
                    <div>
                        <p class="upper">Игры</p>
                        <p class="lower">Новичок</p>
                    </div>
                    <div class="progress green lighten-5">
                        <div class="determinate green lighten-2" style="width: 20%"></div>
                    </div>
                </div>
            </section>

            <form class="ajax-post" id="#logout-button" role="form" action="{% url 'rest_logout' %}">
                {% csrf_token %}

                <div class="center">
                    <button id="logout-button" type="submit" onclick="logout(); var delayInMilliseconds = 180; //1 second
                        setTimeout(function() {
                        window.location.reload()
                        //your code to be executed after 1 second
                        }, delayInMilliseconds);" class="btn-large waves-effect waves-light"
                            href="{% url 'rest_logout' %}">ВЫЙТИ
                    </button>
                </div>
            </form>


        </div>
    </div>
{% else %}
    <div id="profile-section" class="scrollbarless">
        <div id="2" style="display:block">
            <form id="form1" class="ajax-post" role="form" action="{% url 'rest_login' %}">
                {% csrf_token %}

                <div class="simple-form login-form">
                    <div class="title">ВОЙТИ</div>

                    <label for="username">Имя пользователя</label>
                    <input name="username" type="text" id="username" placeholder="Имя пользователя"
                            tabindex="1">

                    <label for="password">Пароль</label>
                    <input name="password" type="password" id="password" placeholder="Пароль" tabindex="2">

                    <div class="error">
                        <p class="flow-text red-text api-response"></p>
                    </div>

                    <button class="btn waves-effect waves-light" type="submit"
                            onclick="" id="submit1">Вход
                    </button>
                </div>
            </form>

            <div class="center">
                <p>Нет аккаунта?</p>
                <a href="#" onClick="show();" style="color:  #a692c7;">ЗАРЕГИСТРИРОВАТЬСЯ</a>
            </div>

        </div>

        <div id="3" style="display:none">
            {#                    <form id="form2"  id="signup" role="form" action="{% url 'rest_register' %}">#}
            <form id="form2" id="signup" role="form" action="#">
                {% csrf_token %}
                <div class="simple-form register-form">
                    <div class="title">РЕГИСТРАЦИЯ</div>

                    <label for="email">Почта</label>
                    <input name="email" type="text" id="email" placeholder="example@yandex.ru">

                    <label for="username">Имя пользователя</label>
                    <input name="username" type="text" id="username1" placeholder="Имя пользователя">

                    <label for="password1">Пароль</label>
                    <input name="password1" type="password" id="password1" placeholder="Пароль">

                    <label for="password2">Еще раз пароль</label>
                    <input name="password2" type="password" id="password2" placeholder="Повторите пароль">

                    <div class="error">
                        <p class="flow-text red-text api-response"></p>
                    </div>

                    <button type="submit" id="submit2" class="btn waves-effect waves-light">Зарегистрироваться
                    </button>
                </div>
            </form>

            <div class="center">
                <div class="no-acount">Есть аккаунт?</div>
                <a href="#" onClick="show();" style="color:  #a692c7;">ВОЙТИ</a>
            </div>
        </div>


    </div>
{% endif %}
