@import '../../../frontend-common/static/frontend-common/sass/page-with-3-section.scss';

#content-section {
    #content-topbar {
        display: flex;
        flex-direction: row;
        align-items: center;

        #content-search {
            width: 10px;
            flex-grow: 1;
            background-color: white;
            margin: 1.5em;
            border-radius: 1em;
            border-width: 0;
            padding: 0 1.1em;
        }

        #notofications-button {
            margin: 0 1.5em 0 0;
            width: 2.7em;
            padding: 0;
            border-radius: 50%;
        }
    }

    #main-content {
        margin: 1em;
        height: 100%;
        box-sizing: border-box;

        .col {
            height: 33.33%;
            padding: 2em 4em;

            .col-content {
                width: 100%;
                height: 100%;
                background-color: white;
                border-radius: 1em;

                position: relative;

                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                div {
                    position: absolute;
                    left: 10%;
                    top: 10%;

                    font-size: 1.4em;
                }

                .video {
                    width: 100%;
                }

                &.selected {
                    box-shadow: 0 0 40px #D2B9FB;
                }
            }
        }
    }
}
